# EditorConfig helps to enforce a consistent coding style for every developer
# working on the same project regardless of their choice of software tool.
#
# Visual Studio Code requires an extension for EditorConfig to work.
# Download the extension:
# https://marketplace.visualstudio.com/items?itemName=EditorConfig.EditorConfig

# Stop the editor from looking for .editorconfig files in the parent directories
root = true

[*]
# Non-configurable Prettier behaviors
charset = utf-8
insert_final_newline = true

# Configurable Prettier behaviors
# (change these if your Prettier config differs)
end_of_line = lf
indent_style = space
indent_size = 2
trim_trailing_whitespace = true

# HTML, CSS, JavaScript and TypeScript Files
[*.{html,css,js,jsx,ts,tsx,svg}]
max_line_length = 100

# Markdown Files
[*.{md,mdx}]
trim_trailing_whitespace = false
indent_size = 4

# Batch Files
[*.{cmd,bat}]
end_of_line = crlf

# Bash Files
[*.sh]
end_of_line = lf

# Makefiles
[Makefile]
indent_style = tab
