@import url(variables.css);

/* #region Selector */

*, ::before, ::after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
a {
	color: inherit;
	cursor: pointer;
	font-family: var(--f-family-text);
	font-size: inherit;
	font-weight: inherit;
	height: 100%;
	width: 100%;
	text-decoration: none;
}
body {
	color: var(--c-text-1);
	background-color: var(--c-background-2);
	width: 100%;
}
button {
	border-radius: 0;
	border: none;
	cursor: pointer;
}
details > summary { cursor: pointer; }
h1, h2, h3, h4, h5, h6 {
	color: inherit;
	cursor: default;
	font-family: var(--f-family-head);
	font-weight: inherit;
}
h1 { font-size: var(--f-size-xxxxl) }
h2 { font-size: var(--f-size-xxxl) }
h3 { font-size: var(--f-size-xxl) }
h4 { font-size: var(--f-size-xl) }
h5 { font-size: var(--f-size-l) }
h6 { font-size: var(--f-size-m) }
hr { 
	border-color: inherit; 
	border-width: 1px;
}
i, img, video {
	max-width: 100%;
	height: auto;
}
li {
	cursor: default;
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit; 
}
p {
	color: inherit;
	cursor: default;
	font-family: var(--f-family-text);
	font-size: var(--f-size-m);
	font-weight: var(--f-weight-regular);
	overflow-wrap: break-word;
}
ul, ol { list-style: none; }


header.inactive { 
	transition: background-color 0.3s;
	background-color: var(--c-text-alt-1); 
}
header.active { 
	transition: background-color 0.3s;
	background-color: var(--c-primar-50);
}

.b3-wrapper__block {
	padding: var(--space-8) 0;
}
.b3-wrapper__inline {
	padding: 0 var(--space-8);
}

.hover-gradient-bottom:hover {
	background: linear-gradient(to top, var(--c-second-alpha-33), var(--c-second-alpha-00));
	border-top: 4px hidden ;
	border-bottom: 4px solid var(--c-second-50);
}
.hover-underline:hover > u { text-decoration: none; }
:is(a.hover-highlight):not(:hover){ color: var(--c-highlight-light); }
.hover-highlight-light:hover { background-color: var(--c-highlight-light); }
.hover-highlight:hover { background-color: var(--c-black-alpha-33); }
.link-hover-underline > a:hover, *.link-hover-underline > li > a:hover, a.hover-underline:hover { text-decoration: underline; }

div.link-hover-highlight:hover { color: var(--c-text-1); }

ul.link-style-plain, ol.link-style-plain { text-decoration: none; }


.b3-line-height-m  { line-height: 1.0rem; }
.b3-line-height-l  { line-height: 1.2rem; }
.b3-line-height-xl { line-height: 1.4rem; }
.b3-line-height-2l { line-height: 1.6rem; }
.b3-line-height-3l { line-height: 1.8rem; }
.b3-line-height-4l { line-height: 2.0rem; }
.b3-font-size-xs { font-size: var(--f-size-xs); }
.b3-font-size-s  { font-size: var(--f-size-s); }
.b3-font-size-m  { font-size: var(--f-size-m); }
.b3-font-size-l  { font-size: var(--f-size-l); }
.b3-font-size-xl { font-size: var(--f-size-xl); }
.b3-font-size-2l { font-size: var(--f-size-xxl); }
.b3-font-size-3l { font-size: var(--f-size-xxxl); }
.b3-font-size-4l { font-size: var(--f-size-xxxxl); }
.b3-font-weight-light   { font-weight: var(--f-weight-light); }
.b3-font-weight-regular { font-weight: var(--f-weight-regular); }
.b3-font-weight-medium  { font-weight: var(--f-weight-medium); }
.b3-font-weight-bold    { font-weight: var(--f-weight-bold); }
.b3-font-weight-bolder  { font-weight: var(--f-weight-bolder); }

.b3-size-square-2s { width: 16px; height: 16px; }
.b3-size-square-xs { width: 24px; height: 24px; }
.b3-size-square-s  { width: 32px; height: 32px; }
.b3-size-square-m  { width: 40px; height: 40px; }
.b3-size-square-l  { width: 48px; height: 48px; }
.b3-size-square-xl { width: 64px; height: 64px; }
.b3-size-square-2l { width: 72px; height: 72px; }

.style-inert, .style-inert > * { opacity: 0.7; interactivity: inert; }

a.style-none { text-decoration: none;}
ul.style-none, ol.style-none { list-style: none; }

.b3-style-text-larger { font-size: larger; }
p.style-text-xxxxl, i.style-text-xxxxl { font-size: var(--f-size-xxxxl); }
p.style-text-xxxl, i.style-text-xxxl { font-size: var(--f-size-xxxl); }
p.style-text-xxl, i.style-text-xxl {font-size: var(--f-size-xxl); }
p.style-text-xl, i.style-text-xl { font-size: var(--f-size-xl); }
p.style-text-l, i.style-text-l { font-size: var(--f-size-l); }
p.style-text-m, i.style-text-m {font-size: var(--f-size-m); }
p.style-text-s, i.style-text-s { font-size: var(--f-size-s); }
p.style-text-xs, i.style-text-xs { font-size: var(--f-size-xs); }

.style-underline { text-decoration: underline; }
h1.b3-hr,
h2.b3-hr,
h3.b3-hr,
h4.b3-hr,
h5.b3-hr,
h6.b3-hr { border-bottom: 0.1rem solid currentColor; }

.b3-link, .b3-link-external {
	align-items: center;
	gap: 0.2rem;
	max-width: max-content;
}
.b3-link:hover, 
.b3-link-external:hover, 
.b3-link:active, 
.b3-link-external:active { color: var(--c-highlight-dark); }
.b3-link-external:after {
	display: inline-block;
	font: 14px/1 FontAwesome;
	content: "\f08e\200b"/" (external)";
}


header.position-sticky {
	position: sticky;
	top: 0;
}
/* #endregion */
