@import url(variables.css);

/* #region Selector */
.b3-theme-default { color-scheme: normal; }
.b3-theme-dark    { color-scheme: dark; }
.b3-theme-light   { color-scheme: light; }


*, ::before, ::after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
a {
	color: inherit;
	cursor: pointer;
	font-family: var(--f-family-sans);
	font-size: inherit;
	font-weight: inherit;
	height: 100%;
	width: 100%;
	text-decoration: none;
}
body {
	color: var(--c-text-1);
	background-color: var(--c-background-2);
}
button {
	border: none;
	cursor: pointer;
}
details > summary { cursor: pointer; }
dialog {
	position: relative;
}
dialog::backdrop { background-color: var(--c-black-alpha-66); }
h1, h2, h3, h4, h5, h6 {
	color: inherit;
	cursor: default;
	font-family: var(--f-family-head);
	font-weight: inherit;
}
h1 { font-size: var(--f-size-xxxxl) }
h2 { font-size: var(--f-size-xxxl) }
h3 { font-size: var(--f-size-xxl) }
h4 { font-size: var(--f-size-xl) }
h5 { font-size: var(--f-size-l) }
h6 { font-size: var(--f-size-m) }
hr { 
	border-color: inherit; 
	border-width: 1px;
}
i, img, video {
	max-width: 100%;
	height: auto;
}
li {
	cursor: default;
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit; 
}
p {
	color: inherit;
	cursor: default;
	font: var(--f-weight-regular) var(--f-size-m) var(--f-family-sans);
	line-height: var(--line-height-m);
}
ul, ol { list-style: none; }


header.inactive { 
	transition: background-color 0.3s;
	background-color: var(--c-background-2); 
}
header.active { 
	transition: background-color 0.3s;
	background-color: var(--c-background-2);
}

.b3-margin__block { margin-block: var(--space-8); }
.b3-margin__inline { margin-inline: var(--space-15); }
.b3-margin__block-inline { margin: var(--space-15); }
.b3-wrapper__block { padding-block: var(--space-8); }
.b3-wrapper__inline { padding-inline: var(--space-15); }
.b3-wrapper__block-inline { padding: var(--space-15); }

.hover-gradient-bottom:hover {
	background: linear-gradient(to top, var(--c-second-alpha-33), var(--c-second-alpha-00));
	border-top: 4px hidden ;
	border-bottom: 4px solid var(--c-second-50);
}
.hover-underline:hover > u { text-decoration: none; }
:is(a.hover-highlight):not(:hover){ color: var(--c-highlight-light); }
.hover-highlight-dark:hover { background-color: var(--c-highlight-dark); }
.hover-highlight:hover { background-color: var(--c-black-alpha-33); }
.link-hover-underline > a:hover, *.link-hover-underline > li > a:hover, a.hover-underline:hover { text-decoration: underline; }

div.link-hover-highlight:hover { color: var(--c-text-1); }

ul.link-style-plain, ol.link-style-plain { text-decoration: none; }


.b3-background__main  { background-color: var(--c-background-1); }
.b3-background__sub   { background-color: var(--c-background-2); }
.b3-background__menu  { background-color: var(--c-menu-background); }
.b3-background__alt-1 { background-color: var(--c-background-alt-1); }


.b3-button__rect {
	border-radius: var(--border-radius-s);
	padding: var(--space-4) var(--space-6);
	background-color: var(--c-button-day);
	color: var(--c-black);
	min-height: var(--size-button-min);
	min-height: var(--size-button-min);
}
.b3-button__rect:hover, .b3-button__rect:active {
	box-shadow: inset 0 0 3px 0.5px var(--c-black-alpha-33);
	color: var(--c-white);
	background-color: var(--c-button-night);
}
.b3-button__circle {
	background-color: var(--c-primar-25);
	min-height: calc(var(--size-button-min) + var(--space-20));
	min-width: calc(var(--size-button-min) + var(--space-20));
}
.b3-button__circle:hover, .b3-button__circle:active {
	background-color: var(--c-primar-75);
	box-shadow: inset 0 0 3px 0.5px var(--c-black-alpha-33);
}
.b3-button-color__blue {
	background-color: var(--c-primar-50);
}
.b3-button-color__blue:hover {
	background-color: var(--c-primar-25);
}
.b3-button-color__yellow {
	background-color: var(--c-second-50);
}
.b3-button-color__yellow:hover {
	background-color: var(--c-second-25);
}


.b3-outline-icon { 
	outline: 2px solid var(--c-menu-background);
	border-radius: 10px;
}

.b3-embed {
	width: 100%;
	height: 50vw;
	max-height: 90vh;
	min-height: 500px;
}

.b3-font-color-d { color: var(--c-text-1); }
.b3-font-color-letter { color: var(--c-primar-50); }

.b3-font-family__head  { font-family: var(--f-family-head); }
.b3-font-family__mono  { font-family: var(--f-family-mono); }
.b3-font-family__serif { font-family: var(--f-family-seri); }
.b3-font-family__sans  { font-family: var(--f-family-sans); }

.b3-font-size-xs { font-size: var(--f-size-xs); }
.b3-font-size-s  { font-size: var(--f-size-s); }
.b3-font-size-m  { font-size: var(--f-size-m); }
.b3-font-size-l  { font-size: var(--f-size-l); }
.b3-font-size-xl { font-size: var(--f-size-xl); }
.b3-font-size-2l { font-size: var(--f-size-xxl); }
.b3-font-size-3l { font-size: var(--f-size-xxxl); }
.b3-font-size-4l { font-size: var(--f-size-xxxxl); }
.b3-font-size-5l { font-size: var(--f-size-5l); }
.b3-font-size-larger  { font-size: larger; }
.b3-font-size-smaller { font-size: smaller; }
.b3-font-weight-light   { font-weight: var(--f-weight-light); }
.b3-font-weight-regular { font-weight: var(--f-weight-regular); }
.b3-font-weight-medium  { font-weight: var(--f-weight-medium); }
.b3-font-weight-bold    { font-weight: var(--f-weight-bold); }
.b3-font-weight-black   { font-weight: var(--f-weight-bolder); }

.b3-img-wrapper__9-16 { 
	aspect-ratio: 9/16; 
	background-color: var(--c-background-2); 
	overflow: hidden;
}
.b3-img-wrapper__9-16 > img { height: 100%; object-fit: contain; }
.b3-img-wrapper__3-4 { 
	aspect-ratio: 3/4; 
	background-color: var(--c-background-2); 
	overflow: hidden;
}
.b3-img-wrapper__3-4 > img { height: 100%; object-fit: cover; }
.b3-img-wrapper__1-1 { 
	aspect-ratio: 1/1; 
	background-color: var(--c-background-2); 
	overflow: hidden;
}
.b3-img-wrapper__1-1 > img { height: 100%; object-fit: cover; }
.b3-img-wrapper__4-3 { 
	aspect-ratio: 4/3; 
	background-color: var(--c-background-2); 
	overflow: hidden;
}
.b3-img-wrapper__4-3 > img { height: 100%; object-fit: cover; }
.b3-img-wrapper__16-9 { 
	aspect-ratio: 16/9; 
	background-color: var(--c-background-2); 
	overflow: hidden;
}
.b3-img-wrapper__16-9 > img { height: 100%; object-fit: cover; }

.b3-line-height-xs { line-height: var(--line-height-xs); }
.b3-line-height-s  { line-height: var(--line-height-s); }
.b3-line-height-m  { line-height: var(--line-height-m); }
.b3-line-height-l  { line-height: var(--line-height-l); }
.b3-line-height-xl { line-height: var(--line-height-xl); }
.b3-line-height-2l { line-height: var(--line-height-2l); }
.b3-line-height-3l { line-height: var(--line-height-3l); }
.b3-line-height-4l { line-height: var(--line-height-4l); }
.b3-line-height-5l { line-height: var(--line-height-5l); }

.b3-list__rows > * {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	gap: var(--space-4);
}

.b3-list-style__disc > li::before {
	display: inline;
	content: "\2022\202F";
	text-decoration: none;
}

.b3-size-square-2s { width: 16px; height: 16px; }
.b3-size-square-xs { width: 24px; height: 24px; }
.b3-size-square-s  { width: 32px; height: 32px; }
.b3-size-square-m  { width: 40px; height: 40px; }
.b3-size-square-l  { width: 48px; height: 48px; }
.b3-size-square-xl { width: 64px; height: 64px; }
.b3-size-square-2l { width: 72px; height: 72px; }

.b3-text-indent { text-indent: 2rem; }

.b3-align__left { 
	text-align: left;  
}
.b3-align__center { 
	text-align: center; 
}
.b3-align__right { 
	text-align: right; 
}

.style-inert, .style-inert > * { opacity: 0.7; interactivity: inert; }

a.style-none { text-decoration: none;}
ul.style-none, ol.style-none { list-style: none; }

p.style-text-xxxxl, i.style-text-xxxxl { font-size: var(--f-size-xxxxl); }
p.style-text-xxxl, i.style-text-xxxl { font-size: var(--f-size-xxxl); }
p.style-text-xxl, i.style-text-xxl {font-size: var(--f-size-xxl); }
p.style-text-xl, i.style-text-xl { font-size: var(--f-size-xl); }
p.style-text-l, i.style-text-l { font-size: var(--f-size-l); }
p.style-text-m, i.style-text-m {font-size: var(--f-size-m); }
p.style-text-s, i.style-text-s { font-size: var(--f-size-s); }
p.style-text-xs, i.style-text-xs { font-size: var(--f-size-xs); }

.style-underline { text-decoration: underline; }
h1.b3-hr,
h2.b3-hr,
h3.b3-hr,
h4.b3-hr,
h5.b3-hr,
h6.b3-hr { border-bottom: 0.1rem solid currentColor; }

.b3-link, 
.b3-link__external, 
.b3-link__underline,
.b3-link__underline-external {
	align-items: center;
	gap: 0.2rem;
	max-width: max-content;
}
.b3-link__underline, .b3-link__underline-external {
	text-decoration: underline;
}
.b3-link__external:after, .b3-link__underline-external:after {
	display: inline-block;
	content: "\2009\f08e\200b"/" (external)";
	text-decoration: none;
	font: 14px/1 FontAwesome;
}
.b3-link:active, 
.b3-link:hover, 
.b3-link__external:active, 
.b3-link__external:hover, 
.b3-link__underline:active, 
.b3-link__underline:hover, 
.b3-link__underline-external:active, 
.b3-link__underline-external:hover { color: var(--c-highlight-light); }

header.position-sticky {
	position: sticky;
	top: 0;
}
/* #endregion */
