#secret-1 {
	background-color: inherit;
	height: 100%;
}

@media screen and (min-width: 481px) {
	#secret-1 {
		display: none;
	}
}

/* Portfolio */
:is(#secret-2):not(:hover, :focus, :active) {
	opacity: 0.02;
}
#secret-2 {
	max-width: 4rem;
}