@import url("style.css");

/* #region Skip to content */
.b3-skip-menu {
	position: absolute;
	left: 2px;
	right: 2px;
	top: -100px;
	list-style: none;
}
.b3-skip-menu a {
	position: absolute;
	padding: 0.8em;
	text-align: center;
	text-decoration: none;
}
.b3-skip-menu a:focus {
	z-index: 1000;
	top: 102px;
	background-color: hsla(0, 0%, 0%, 0.5);
}
/* #endregion */


/* #region Banner */
.b3-banner-wrapper {
	position: fixed;
	height: var(--height-banner);
	width: 100%;
	/* background: url("../images/github_banner_blubeatbee.svg") no-repeat center; */
}
.b3-banner {
	background: url("../images/banner.svg") no-repeat center;
	height: 100%;
	width: 100%;
}
.b3-after-banner {
	top: var(--height-banner);
	position: absolute;
}
/* #endregion */


/* #region Flex layout */
.b3-flex-col__nowrap, .b3-flex-col {
	display: flex;
	flex-flow: column nowrap;
	gap: var(--space-2)
}
.b3-flex-row__nowrap, .b3-flex-row {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	gap: var(--space-2);
}
/* #endregion */


/* #region Grid Layout Page */
.b3-layout-page {
	display: grid;
	grid-template-rows: 
		min-content minmax(var(--height-minus-header), min-content) min-content;
	
	width: 100%;
}
.b3-layout-page-item {
	grid-row: span 1;
}
.b3-grid__1-column {
	display: grid;
	grid-template-columns: 1fr;
	grid-auto-rows: span 1;
	gap: var(--space-4);
}
.b3-grid__2-column {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-auto-rows: span 1;
	gap: var(--space-4);
}
.b3-grid__3-column {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-auto-rows: span 1;
	gap: var(--space-4);
}
.b3-grid__4-column {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-auto-rows: span 1;
	gap: var(--space-4);
}
.b3-grid-responsive__col-thin {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
	gap: var(--space-8) var(--space-4);
}
.b3-grid-responsive__col-medium {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(calc(240px - var(--space-8) - var(--space-15)), 1fr));
	gap: var(--space-8) var(--space-4);
}
.b3-grid-responsive__col-wide {
	display: grid;
	/* high min-column size also increases screen min-width, making smaller screens widths 
	unable to display certain parts of the screen */
	grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
	gap: var(--space-8) var(--space-4);
}
.b3-col__span-1 {
	grid-column: span 1;
}
.b3-col__span-2 {
	grid-column: span 2;
}
.b3-col__span-3 {
	grid-column: span 3;
}
.b3-col__span-4 {
	grid-column: span 4;
}
.b3-row__span-1 {
	grid-row: span 1;
}
/* #endregion */


/* #region Grid Layout Content */
.b3-layout-content {
	display: grid;
	grid-template-rows: min-content min-content 1fr;
	grid-template-columns: 1fr;
	grid-template-areas:
		"header"
		"body";

	padding-inline: var(--inline-wide-constraint);
}
.b3-layout-content__1-sidebar {
	display: grid;
	grid-template-rows: min-content min-content 1fr;
	grid-template-columns: 1fr;
	grid-template-areas: 
		"header"
		"toc"
		"body";

	padding-inline: var(--inline-wide-constraint);
}
.b3-layout-content-main {
	display: contents;
}
.b3-layout-content-header {
	grid-area: header;
}
.b3-layout-content-body {
	grid-area: body;
}
.b3-layout-content-toc {
	grid-area: toc;
}
@media screen and (min-width: 641px) {
	.b3-layout-content__1-sidebar {
		grid-template-columns: 
			1fr minmax(160px, 22vw);
		grid-template-areas:
		"header header"
		"body   toc";
	}
}
@media screen and (min-width: 1025px) {
	.b3-layout-content__1-sidebar {
		grid-template-columns: 
		1fr 225px;
	}
}
/* #endregion*/


/* #region Header */
.b3-header-sticky {
	position: sticky;
	top: 0;
	z-index: var(--z-index-6);
	background-color: var(--c-primar-50);
}
.b3-navigation {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	padding-inline: var(--inline-wide-constraint);
	height: var(--height-navigation-bar);
	background-color: inherit;
}
.b3-nav-menu {
	display: none;
	flex-flow: row nowrap;
	align-items: center;
}
.b3-nav-menu > li {
	color: var(--c-text-1);
	font-weight: var(--f-weight-bold);
	width: max-content;
}
.b3-nav-menu > li > a {
	display: inherit;
	padding: var(--space-4);
}
#button-nav-menu {
	color: var(--c-white);
	height: 100%;
	background-color: var(--c-primar-25);
}
#button-nav-menu:hover, #button-nav-menu:active {
	background-color: var(--c-primar-75);
}
.b3-button-square {
	aspect-ratio: 1/1;
	min-height: calc(var(--size-button-min) + var(--space-20));
	min-width: calc(var(--size-button-min) + var(--space-20));
}
.b3-button-square:hover, .b3-button-square:active {
	box-shadow: inset 0 0 3px 0.5px var(--c-grey-40);
}
.b3-open-menu {
	position: absolute;
	top: var(--height-sticky-header);
	display: flex;
	flex-flow: column nowrap;
	width: 100%;
	background-color: var(--c-text-alt-1);
}
.b3-open-menu > li {
	text-align: center;
	width: 100%;
}
.b3-open-menu > li > a {
	padding-block: var(--space-8);
}
@media screen and (min-width: 481px) {
	#button-nav-menu {
		display: none;
	}
	.b3-navigation {
		justify-content: flex-end;
	}
	.b3-nav-menu {
		display: flex;
		justify-content: space-evenly;
		width: 100%;
	}
}
@media screen and (min-width: 641px) {
	.b3-nav-menu {
		gap: calc(var(--space-20) + var(--space-20));
		justify-content: center;
	}
}
/* #endregion */


/* #region Sidebar */
.b3-sidebar {
	z-index: var(--z-index-5);
	position: sticky;
	top: var(--height-sticky-header);
	overflow-y: auto;
	overflow-wrap: break-word;
	padding: var(--space-20) 0 0 var(--space-10);
	max-height: var(--height-minus-header);
	background-color: var(--c-background-2);
	font: var(--f-weight-regular) var(--f-size-m) var(--f-family-sans);
}
.b3-sidebar-header {
	font-weight: var(--f-weight-bold);
}
:is(.b3-sidebar-body li) ol {
	padding-inline-start: var(--space-9);
}
.b3-sidebar-body li:first-child {
	margin-top: var(--space-8);
}
:is(.b3-sidebar-body li):not(:last-child){
	margin-bottom: var(--space-8);
}
.b3-sidebar-body summary {
	padding: var(--space-2) 0;
}
.b3-sidebar-body summary:hover {
	background-color: var(--c-white-alpha-33);
}
:is(.b3-sidebar-body a):not(:hover){
	text-decoration: none;
}
/* #endregion */


/* #region Content */
.b3-content-section {
	padding-inline: var(--space-15);
	padding-bottom: var(--space-15);
	font-family: var(--f-family-sans);
}
.b3-content-section:last-of-type {
	padding-bottom: calc(var(--space-20) + var(--space-20));
}
.b3-content-section h1,
.b3-content-section h2, 
.b3-content-section h3, 
.b3-content-section h4, 
.b3-content-section h5, 
.b3-content-section h6 {
	margin-bottom: var(--space-6);
	font-weight: var(--f-weight-medium);
}
.b3-content-section > article {
	padding-block: var(--space-10);
	margin-block: var(--space-15);
}
.b3-container-background-left {
	position: relative;
	left: calc(-1 * var(--inline-wide-constraint-extra));
	margin-right: calc(-1 * var(--inline-wide-constraint-extra) - 0.8rem);
	border-radius: 0 var(--border-radius-s) var(--border-radius-s) 0;
	padding-inline: var(--inline-wide-constraint-extra) var(--space-8);
	color: var(--c-text-1);
	background-color: var(--c-accent-alpha-33);
}
.b3-container-background-right {
	position: relative;
	right: calc(-1 * var(--inline-wide-constraint-extra));
	margin-left: calc(-1 * var(--inline-wide-constraint-extra) - 0.8rem);
	border-radius: var(--border-radius-s) 0 0 var(--border-radius-s);
	padding-inline: var(--space-8) var(--inline-wide-constraint-extra);
	color: var(--c-text-2);
	background-color: var(--c-background-2);
}
.b3-carousel {
	overflow-x: scroll;
	scroll-snap-type: x mandatory;
	display: flex;
	padding: var(--space-10);
	gap: var(--space-10);
	background-color: darkcyan;
	height: 42vh;
}
.b3-carousel-card {
	scroll-snap-align: center;
	flex: 0 0 100%;
	border-radius: 16px;
	border: 1px solid var(--c-menu-border);
	background-color: var(--c-menu-background);
}
.b3-hero-grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(calc(241px - var(--space-15)), max-content));
	align-items: center;
	justify-items: center;
	justify-content: center;
	padding: var(--space-10);
	overflow-wrap: anywhere;
	background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.9)),
	url("../images/ian-battaglia-9drS5E_Rguc-unsplash.jpg") center / cover no-repeat;
}
.b3-hero-wrapper {
	min-width: 164px;
	height: 164px;
	width: 164px;
}
.b3-hero-image {
	border: 2px solid var(--c-grey-80);
	border-radius: 500vw;
	box-shadow: inset 0 0 1.6px 4px var(--c-white-alpha-33);
	content: linear-gradient(rgba(60, 120, 164, 0.5), rgba(20, 20, 20, 0.7));
	background: url("../images/profile.jpg") center 36% / 120% no-repeat var(--c-menu-background);
	height: 100%;
	width: 100%;
}
.b3-hero-content {
	color: var(--c-grey-90);
	padding: var(--space-10);
	width: max-content;
	text-align: center;
}
.b3-hero-pre-title {
	font: var(--f-weight-regular) var(--f-size-l) var(--f-family-head);
}
.b3-hero-title {
	font: var(--f-weight-bold) var(--f-size-xl) var(--f-family-seri);
}
.b3-hero-title-cap {
	color: var(--c-primar-50);
	font: var(--f-weight-bold) var(--f-size-5l) var(--f-family-seri);
}
.b3-hero-subtitle {
	font: var(--f-weight-medium) var(--f-size-m) var(--f-family-head);
}
.b3-block-limit {
	max-height: 90px;
	overflow: hidden;
}
@media screen and (min-width: 481px) {
	.b3-hero-pre-title {
		font-size: var(--f-size-xl);
	}
	.b3-hero-title {
		font-size: var(--f-size-xxxl);
	}
	.b3-hero-title::before {
		font-size: var(--f-size-5l);
	}
	.b3-hero-subtitle {
		font-size: var(--f-size-l);
	}
}
@media screen and (min-width: 641px) {
	.b3-carousel-card {
		flex: 0 0 75%;
	}
}
@media screen and (min-width: 961px) {
	.b3-carousel-card {
		flex: 0 0 49.25%;
	}
}
/* #endregion */


/* #region Table of Contents panel */
.b3-toc-wrapper {
	z-index: var(--z-index-5);
	padding-top: var(--space-15);
	margin-inline: var(--space-20);
	width: max-content;
}
.b3-toc {
	overflow-y: auto;
	overflow-wrap: break-word;
	padding: var(--space-8) var(--space-10);
	background-color: var(--c-background-2);
	box-shadow: -2px 0 0 var(--c-menu-border);
}
.b3-toc-header {
	font: var(--f-weight-medium) var(--f-size-m) var(--f-family-head);
	padding-bottom: var(--space-2);
	border-bottom: 1px solid var(--c-menu-border);
}
.b3-toc-body {
	margin-top: var(--space-8);
}
:is(.b3-toc-body li):not(:last-of-type) {
	margin-bottom: var(--space-8);
}
@media screen and (min-width: 641px) {
	.b3-toc-wrapper {
		position: sticky;
		top: var(--height-sticky-header);
		margin-inline: 0;
		max-height: 50vh;
		width: auto;
	}
}
/* #endregion */


/* #region Footer */
.b3-footer {
	display: flex;
	flex-flow: column nowrap;
	padding-block: var(--space-20);
	padding-inline: var(--inline-wide-constraint-extra);
	background-color: none;
}
.b3-footer-section {
	line-height: var(--f-size-xl);
}
.b3-footer-section:not(:last-of-type) {
	padding-bottom: var(--space-10);
}
.b3-footer-section:is(:last-of-type):not(:first-of-type) {
	margin-top: calc(var(--space-10) + var(--space-2));
	padding-top: calc(var(--space-10) + var(--space-2));
	border-top: 2px solid var(--c-menu-border);
}
.b3-flex-footer {
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
	align-items: flex-start;
	gap: var(--space-20);
	width: 100%;
}
.b3-footer-logo-wrapper {
	min-width: 80px;
	min-height: 80px;
	outline: 2px solid black;
}
@media screen and (min-width: 641px) {
	.b3-footer-logo-wrapper {
		min-height: 120px;
		min-width: 120px;
	}
}
/* #endregion */


/* #region Modal */
/* Source: https://www.w3.org/WAI/WCAG21/Techniques/html/H102 */
.b3-modal {
	position: fixed;
	margin: auto;
	border: 1px solid var(--c-menu-border);
	border-radius: 8px;
	background-color: var(--c-menu-background);
}
.b3-modal-container {
	min-height: 120px;
	max-height: 70vh;
	min-width: 120px;
	max-width: 720px;
	overflow: hidden auto;
	overflow-wrap: break-word;
	scrollbar-width: thin;
}
.b3-modal-img {
	min-height: 400px;
	object-fit: contain;
	text-align: center;
}
.b3-modal-close {
	position: absolute;
	inset-block-start: 0;
	inset-inline-end: 0;
	font-size: var(--f-size-xl);
	width: calc(var(--size-button-min) + 20px);
	height: calc(var(--size-button-min) + 20px);
	background-color: hsla(0, 0%, 0%, 0);
}
.b3-modal-close:hover {
	background-color: var(--c-white-alpha-33);
}
/* #endregion */